<div class="text-center">
    <h3>WELCOME TO THE SCHOOL DIARY</h3>

    <div class="home-div">
        <img src="../../assets/images/Logo2.png" alt="">
    </div>
    <div class="panel panel-default">
        <h3 class="panel-heading text-center">Features</h3>
        <div class="panel-body">
            <h4>What School Diary offers for Parents and Teachers</h4>
            <ul>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown </li>
                <li>printer took a galley of type and scrambled it to make a type specimen book. </li>
                <li>It has survived not only five centuries, but also the leap into electronic </li>
            </ul>
        </div>
    </div>
</div>