<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
        <h1 style="text-align:center;font-weight: bold;" >ADMIN</h1>
        <hr>
    <div class="container">


        <!-- <h1 style="text-align: center; ">Faculties</h1>
        <li> <a routerLink="/students-list">Students</a></li>
        <li> <a routerLink="/parent-list">Parent</a></li>
        <li> <a routerLink="/faculty-list">Faculty</a></li>
        <li> <a routerLink="/user-list">User</a></li> -->
        <h1 style="text-align: center; ">Faculties</h1>

        <button routerLink='/faculty-add' style="margin-bottom: 10px" class="btn btn-primary pull-right AddButton">Add
            Faculty</button>
        <table class="table table-bordered table-hover">
            <thead class="table-heads">

                <th>Faculty Id</th>
                <th>Calss ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Subject Spcl.</th>
                <th>Mobile Contact</th>
                <th>Action </th>
            </thead>
            <tbody>
                <tr *ngFor="let faculty of faculties">
                    <td>{{faculty.FID}}</td>
                    <td>{{faculty.CID}}</td>
                    <td>{{faculty.FFIRSTNAME}}</td>
                    <td>{{faculty.FLASTNAME}}</td>
                    <td>{{faculty.FADDRESS}}</td>
                    <td>{{faculty.FGENDER}}</td>
                    <td>{{faculty.FSUBJECTSPECILITY}}</td>
                    <td>{{faculty.FMOBILE}}</td>
                    <td>
                        <button class="btn btn-warning glyphicon glyphicon-pencil"></button>
                        <button (click)='onDelete(faculty.FID)' style="margin-left: 10px;"
                            class="btn btn-danger glyphicon glyphicon-trash"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>