<div class="form container container-fluid center" style="text-align: center;">
    <div class="rows">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div class="panel panel-warning">

                <div class="rows">
                    <div class="form-group">
                        <label style="font-weight: bold; font-size: 15px;">First Name :</label>
                        <label style="margin: 10px; font-size: 12px;">Pratik</label>
                        <label style="font-weight: bold; font-size: 15px;">Last Name :</label>
                        <label style="margin: 10px; font-size: 12px;">Jain</label>
                        
                    </div>
                </div>

                <div class="rows">
                    <div class="form-group">
                        
                    </div>
                </div>

                <div class="rows">
                    <div class="form-group">
                        <label style="font-weight: bold; font-size: 15px;">First Name :</label>
                        <label>Lorem ipsum</label>
                    </div>
                </div>

                <div class="rows">
                    <div class="form-group">
                        <label style="font-weight: bold; font-size: 15px;">First Name :</label>
                        <label>Lorem ipsum</label>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>