<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <hr>
    <div class="container">
        <h1 style="text-align: center; ">Students</h1>

        <table class="table table-bordered table-hover">
            <thead class="table-heads">
                <th>Students Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roll No.</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Class</th>
                <th>Division</th>
                <th>Action</th>
            </thead>
            <tbody>

                <tr *ngFor="let student of students">
                    <td>{{student.S_ID}}</td>
                    <td>{{student.SFNAME}}</td>
                    <td>{{student.SLNAME}}</td>
                    <td>{{student.SROLLNO}}</td>
                    <td>{{student.SGENDER}}</td>
                    <td>{{student.SBIRTHDATE | date: 'yyyy/MM/dd'}}</td>
                    <td>{{student.SCLASS}}</td>
                    <td>{{student.SDIVISION}}</td>

                    <td>
                        <!-- <button (click) = '' class="btn btn-warning glyphicon glyphicon-pencil"></button> -->
                        <a routerLink="/students-profile"
                            class="btn btn-warning  glyphicon glyphicon-info-sign"></a>
                            <button style="margin-left: 5px;" class="btn btn-success">Mark Attedence</button>

                    </td>
                    <input type="hidden" [(ngModel)]="sid" value=student.S_ID>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>