<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tests</title>a
</head>

<body>
  
<button class="btn btn-primary pull-right" [routerLink]="['/faculty-newtest']" style="margin-bottom: 10px;">Add New Test</button>
<br><br>
<div class="col-md-2">
</div>
<div class="col-md-8">
    <div class="panel panel-success" style="padding: 10px;" *ngFor="let item of tests" >
        <p>
            <span><strong>Test Name</strong> : {{item.test_name}}</span><br> 
            <button (click) = "onEdit(item.id)"  class="btn btn-success glyphicon glyphicon-pencil pull-right"></button>
            <button (click) = onDelete() style="margin-right: 10px;" class="btn btn-danger glyphicon glyphicon-trash pull-right"></button>
            <span><strong>Subject</strong> : {{item.subject}}</span><br>
            <span><strong>Date</strong> : {{item.date}}</span><br>
            <span><strong>Class</strong> : {{item.class_name}}</span><br>
        </p>
    </div>
  </div>




</body>

</html>