<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Notice</title>
</head>

<body>
  <div class="col-md-"></div>

  <div class="container col-md-2">
    <div class="list-group">
      <button type="button" class="list-group-item" >New Test</button>
      <button type="button" class="list-group-item" >Edit Notice</button>
      <button type="button" class="list-group-item" >Delete Notice</button>
    </div>
  </div>


  <!-- New Notice -->
  <div  class="container container-fluid border-primary col-md-8 panel panel-default">


    <div class="form-group">
      <label for="comment">Notice:</label>
      <textarea class="form-control" rows="10" id="comment"></textarea>
      <button  class="btn btn-primary" style="margin-top: 10px;">Add Notice</button>
    </div>


</div>

</body>

</html>