<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
        
        <hr>
    <div class="container">
        <h1 style="text-align: center; ">Classes</h1>

        <button routerLink='/faculty-add' style="margin-bottom: 10px" class="btn btn-primary pull-right AddButton">Add
            Faculty</button>
        <table class="table table-bordered table-hover">
            <thead class="table-heads">

                <th>Class ID</th>
                <th>Class Name</th>
                <th>Action</th>
                
            </thead>
            <tbody>
                <tr *ngFor="let class of classes">
                    <td>{{class.CID}}</td>
                    <td>{{class.CGRADE}}</td>

                    <td>
                        <button  [routerLink]="['/students-list']" (click) = 'onShowStudent(class.CID)' class="btn btn-warning">Show Students</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>