
<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Diary</title>
</head>

<body>
        
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >School DiaryesApp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li> <a (click)='onLogin()' >Login</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                        <li> <a (click)='onLogout()' >Logout</a></li>
                    </ul>
            </div>
        </div>
    </nav>
    
</body>
<router-outlet></router-outlet>

</html>